@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

/* Overall page body */
div {
    max-width: 1600px;
    margin: 0 auto;
    background-color: white;
   
}
/* Style the navigation bar links */


/* navigation bar */

li {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
   
}
li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change color on navigation hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}
  



#hero-msg {
    text-align: center;
   

}

/* home title design your life*/
#hero-msg h1 {
   
    padding: 80px;
    text-align: center;
    background: white;
    color: #9bc91c;
    font-family: 'Brush Script MT', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    
}
#hero-msg h4 {
    text-align: center;
    color: black;

}
/* book an join navigation style */
.book, .join{
    text-align: center;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 30px;;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 24px;
}
main section {
    text-align: center;
    
}
#background {
    height: 725px;
}
body{
    background-color: #d4ac0d80;
    color: #ac0dac3f;
}
header{
    background-color: white;
    color: rgb(3, 29, 29);
}
 
#background{
    background-color: #14d40dad;
    color: black;
}
.msg{
    background-color: #8ed40d4d;
    color: darkred;
    padding: 35px;
}
.msg p{
    padding-bottom: 15px;
    
}
footer{
    background-color: #F1DEDC;
    color: #FEB95F;
    padding: 25px 50px;
}
footer a{
    text-align: center;
    color: #FEB95F;
    text-decoration: double;
    margin-top: 200px;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 1000px;
}
footer h3 a:hover{
    width: 80px;
    color: aqua;
    text-size-adjust: auto;
    text-decoration: solid;
}
footer .social img{
    padding-top: 15px;
        
}  
.card-img {
    border: 10px solid #d9c2a3;
    margin: 200px 0;
}

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
       
